@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

:root {
  font-size: 62.5%;
  box-sizing: border-box;
  --bg-color: #{$gray-9};
  --secondary-bg-color: #{$gray-8};
  --text-color: #{$white};
  --secondary-text-color: #{$gray-3};
  --line-color: #{$gray-2};

  --color-primary: #{$blue};

  --border-radius: 3px;
}

body {
  font-size: 1.6rem;
  color: var(--text-color);
  background-color: slateblue;
  font-family: -apple-system, BlinkMacSystemFont, Roboto, Oxygen, Ubuntu,
    Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
