$blue: #389bff;
$red: #eb5945;
$green: #67c60b;
$yellow: #f6bb42;
$violet: #967adc;
$gray-10: #1f2228;
$gray-9: #22252a;
$gray-8: #2d3035;
$gray-7: #2f3237;
$gray-6: #45484c;
$gray-5: #76787b; // icons
$gray-4: #7f8083; // 20% of this is header stext
$gray-3: #999999; // text
$gray-2: #313439;
$white: #fff;

$color-primary: $blue;
