$blue: #389bff;
$red: #eb5945;
$red-2: #d24431;
$green: #67c60b;
$green-2: #0bb961;
$green-3: #139754;
$yellow: #f6bb42;
$violet: #967adc;
$gray-10: #1f2228;
$gray-9: #22252a;
$gray-8: #2d3035;
$gray-7: #2f3237;
$gray-6: #45484c;
$gray-5: #76787b; // icons
$gray-11: #757679;
$gray-4: #7f8083; // 20% of this is header stext
$gray-3: #999999; // text
$gray-2: #313439;
$white: #fff;

$color-primary: $blue;
$color-error: $red-2;
$color-success: $green-3;
$color-warning: $yellow;

$border-radius: 3px;

$color-text-dark: $gray-10;
$color-text: $white;
$color-bg-secondary: $gray-8;

$line-color: $gray-2;
$line: 1px solid $line-color;

$component-active-color: $white;
$form-check-input-checked-color: $component-active-color;
$form-check-input-checked-bg-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'><path fill='none' stroke='#fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10l3 3l6-6'/></svg>") !default;
$form-check-transition: background-color 0.15s ease-in-out,
  background-position 0.15s ease-in-out, border-color 0.15s ease-in-out,
  box-shadow 0.15s ease-in-out !default;

$form-check-input-border: 1px solid rgba(0, 0, 0, 0.25) !default;
