.app {
  background-color: var(--bg-color);
  height: 100vh;
  display: grid;
  grid-template-areas:
    'topbar topbar topbar'
    'sidebar menu content';
  grid-template-rows: 7rem 1fr;
  grid-template-columns: 9rem 28rem 1fr;
}

.topbar {
  grid-area: topbar;
  background-color: var(--secondary-bg-color);
  border-bottom: 1px solid var(--line-color);
}

.sidebar {
  grid-area: sidebar;
  background-color: var(--secondary-bg-color);
  border-right: 1px solid var(--line-color);
}

.menu {
  grid-area: menu;
  background-color: var(--secondary-bg-color);
  border-right: 1px solid var(--line-color);
}

.content {
  grid-area: content;
  background-color: var(--bg-color);
  overflow-y: auto;
}

.card {
  background-color: white;
  margin: 2rem;
  height: 4rem;
}
