.btn {
  padding: 0.8rem 1.6rem;
  border: 1px solid transparent;
  border-radius: var(--border-radius);
  --button-bg: #{$white};
  // --button-bg-hover: #{darken(var(--button-bg), 20%)};
  // --button-bg-hover: #{hsl(var(--button-bg), 10%)};
  background-color: var(--button-bg);
  transition: opacity 0.2s;
  &:hover {
    cursor: pointer;
    opacity: 0.9;
    // background-color: var(--button-bg-hover);
  }

  // variants
  &-primary {
    --button-bg: var(--color-primary);
    color: var(--text-color);
  }
}

.btn-icon {
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    cursor: pointer;
  }

  &-fill-dark {
    svg {
      fill: $gray-11;
      transition: fill 0.2s;
    }

    &:hover svg {
      fill: $gray-1;
    }
  }
  &-fill-light {
    svg {
      fill: $gray-1;
      transition: fill 0.2s;
    }

    &:hover svg {
      fill: $color-primary;
    }
  }
}
