.modal {
  &-outer {
    position: fixed;
    background-color: rgba($color: #000000, $alpha: 0.5);
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &-inner {
    max-width: 60rem;
    width: 80%;
    background-color: $color-bg-secondary;
    border-radius: $border-radius;
    padding: 3.4rem;
  }

  &-header {
    display: grid;
    grid-template-columns: 1fr auto;
    margin-bottom: 1.7rem;
  }
}
