// .task-list {
//   display: grid;
//   grid-template-columns: repeat(auto-fit, minmax(33rem, 1fr));
//   gap: 3.4rem;
//   align-items: start;
// }

// .task {
//   background-color: $color-bg-secondary;
//   border-radius: $border-radius;

//   &-header {
//     padding: 3rem;
//     display: flex;
//     align-items: center;
//   }
//   &-check {
//     width: 3.4rem;
//     height: 3.4rem;
//     background-color: $gray-10;
//     background-repeat: no-repeat;
//     background-position: center;
//     background-size: contain;
//     border: $form-check-input-border;
//     appearance: none;
//     color-adjust: exact; // Keep themed appearance for print
//     transition: $form-check-transition;
//     border-radius: $border-radius;
//     cursor: pointer;

//     &:checked {
//       background-image: url(../../assets/check-icon.svg);
//       background-color: $color-primary;
//     }
//   }

//   &-text {
//     padding-left: 3rem;
//     cursor: pointer;
//     flex: 1;
//   }

//   &-project {
//     padding: 1.7rem 3.4rem;
//     display: flex;
//     align-items: center;

//     &-color {
//       height: 1.2rem;
//       width: 1.2rem;
//       border: none;
//       background-color: $color-primary;
//       border-radius: $border-radius;
//       margin-right: 1.5rem;
//     }

//     &-label {
//       color: $gray-11;
//       margin-right: 1.2rem;
//     }
//   }

//   &-details {
//     padding: 1.7rem 3.4rem;
//     display: flex;
//     align-items: center;
//   }

//   &-deadline {
//     margin-left: auto;
//   }

//   &-description {
//     padding: 1.7rem 3.4rem 3.4rem;
//     color: $gray-3;
//     border-bottom: $line;
//   }

//   &-comments {
//     &-list {
//       padding: 3.4rem;
//     }
//     &-form {
//       padding: 0 3.4rem 3.4rem;
//     }
//   }

//   &-comment {
//     display: grid;
//     grid-template-columns: auto 1fr;
//     column-gap: 2rem;
//     row-gap: 0.6rem;

//     &-text {
//       color: $gray-3;
//     }
//     &-author {
//       &-avatar {
//         grid-row: 1 / span 2;
//       }
//     }
//   }
//   // checkbox dims: 34px
// }

.task {
  &-text {
    background: none;
    border: none;
    color: $color-text;
    font-size: 1.8rem;
    transition: color 0.2s;

    &:hover {
      color: $color-primary;
      cursor: pointer;
    }
  }

  &-footer {
    display: grid;
    grid-template-columns: 20fr 8fr 9fr;
    column-gap: 2.5rem;
  }

  &-progress {
    display: grid;
    grid-template-columns: 1fr auto;
    column-gap: 1.5rem;
    align-items: center;

    &-label {
      grid-column: 1 / -1;
    }

    &-bar {
      width: 100%;
    }
  }

  &-priority {
    &-color-box {
      height: 1.2rem;
      width: 1.2rem;
      border: none;
      background-color: $color-primary;
      border-radius: $border-radius;
      margin-right: 1rem;

      &-high {
        background-color: $red;
      }
      &-medium {
        background-color: $yellow;
      }
      &-low {
        background-color: $green;
      }
    }
  }
}
